
<app-permission [enable]="false" page="Menu">
  <div class="container-title">
    <h1>Aprende  programación de software </h1>
  </div>
  <br />
  <div class="comntainer">

    <div class="container-item">
      <div class="container-item-text">
        <p>
          ✔ Automatiza tu hogar con el módulo ESP-8266.
        </p>
        <p>
          ✔ Descargar código para programar el módulo wifi ESP-8266.<br />
        </p>
        <p>
          ✔ Descargar APP para controlar los módulos IOT.<br />
        </p>
      </div>
      <a href="{{_configservice.GetBaseUrl()}}learn-iot" style="text-decoration:none;">

        <div class="item">
          <i class=" newbtn bi bi-robot"></i>
        </div>

      </a>
    </div>


  </div>


  <div class="container-title">
    <h3>Herramientas gratis</h3>
  </div>
  <br />
  <div class="comntainer">



    <div class="container-item">
      <div class="container-item-text">
        <p>
          ✔ Convierte texto a voz.
        </p>
        <p>  ✔ Escuchar texto en línea.</p>
        <p> ✔ Voz automática.</p>
        <p> ✔ Selecciona un PDF.</p>
        <p>
          ✔ Guarda los documentos para mas tarde.
        </p>
      </div>
      <a href="{{_configservice.GetBaseUrl()}}text-to-speech" style="text-decoration:none;">

        <div class="item">
          <i class=" newbtn bi bi-file-earmark-play"></i>
        </div>

      </a>
    </div>

    <div class="container-item">
      <div class="container-item-text">
        <p>
          ✔ Descarga video de YouTube.
        </p>
        <p> ✔ Descarga de videos en línea.</p>
        <p> ✔ YouTube video downloader.</p>
        <p> ✔ Descarga videos.</p>
        <p> ✔ Descarga de música.</p>
      </div>

      <a href="{{_configservice.GetBaseUrl()}}youtube-download" style="text-decoration:none;">
        <div class="item">

          <i class="newbtn bi bi-youtube"></i>
        </div>

      </a>
    </div>


    <!--<div class="container-item">
      <p>
        ✔ Practica tu inglés.<br />
        ✔ Mejora tu pronunciación.<br />
        ✔ Aprende a escuchar el inglés.<br />
        ✔ Fortalece tu inglés.<br />
      </p>
      <a href="{{_configservice.GetBaseUrl()}}chat-speech" style="text-decoration:none;">
        <div class="item">
          <i class=" newbtn bi bi-translate"></i>
        </div>

      </a>
    </div>-->


  </div>



  <div style="margin-top:100px;"></div>

</app-permission>
