

<!--<div class=" container-item-direction-user ">

  <div class=" container-item  user">
    <div class="logo-user">
      Practica
    </div>

    <div class="language-bot language">
      Español:
      {{itemLanguage.languageFrom}}
    </div>

    <div class="item text">
      Ingles:
      {{itemLanguage.languageFor}}
    </div>

 

    <div id="menu" >
      @if(true){
      <button><i class="bi bi-mic-fill"></i></button>
      }
      @if(false){
      <button><i class="bi bi-mic-mute"></i></button>
      }

      <button (click)="speech(itemLanguage.languageFor)" >play</button>
    </div>
  </div>


</div>-->
