
<app-permission>
  <div class="containe-concept">

    <div class="container-input">
      <p class="text-form">
        {{languageTraslate("Nombre")}}
        <input type="text" name="name" [(ngModel)]="_company.name" />
        {{languageTraslate("Nit")}}
        <input type="text" name="code" [(ngModel)]="_company.nit" />

      </p>
    </div>

    <div class="btn-scroll">
      @if(true){
      <button (click)="SaveCompany()" ><i class="bi bi-floppy2-fill"></i></button>
      }
    </div>

  </div>

  <div class="scroll">
    <div class="container-concep">
      <div class="div-header">
        Nombre
      </div>
      <div class="div-header">
        F creacion
      </div>
      <div class="div-header">
        F actualizada
      </div>
      <div class="div-header">
        Tipo
      </div>

      @if(this._CompanyService._listCompany!=undefined){

      @for( item of this._CompanyService._listCompany; track item.name){

      <div class="div-item" (click)="Selection(item.id)" [ngClass]="{'row-select':_rowSeletion==item.id}">
        {{item.name}}
        @if(_rowSeletion==item.id){
        <div class="edit-visible">
          <button (click)="Edit(item.id)"><i class="bi bi-pencil"></i></button>
          <button (click)="Delete(item.id)"><i class="bi bi-trash3"></i></button>
        </div>
        }
      </div>


      <div class="div-item" (click)="Selection(item.id)" [ngClass]="{'row-select':_rowSeletion==item.id}">
        {{item.name}}
        @if(_rowSeletion==item.id){
        <div class="edit-visible">
          <button (click)="Edit(item.id)"><i class="bi bi-pencil"></i></button>
          <button (click)="Delete(item.id)"><i class="bi bi-trash3"></i></button>
        </div>
        }

      </div>
      <div class="div-item" (click)="Selection(item.id)" [ngClass]="{'row-select':_rowSeletion==item.id}">
        {{item.name}}
        @if(_rowSeletion==item.id){
        <div class="edit-visible">
          <button (click)="Edit(item.id)"><i class="bi bi-pencil"></i></button>
          <button (click)="Delete(item.id)"><i class="bi bi-trash3"></i></button>
        </div>
        }

      </div>


      <div class="div-item" (click)="Selection(item.id)" [ngClass]="{'row-select':_rowSeletion==item.id}">

        {{item.name}}
        @if(_rowSeletion==item.id){
        <div class="edit-visible">
          <button (click)="Edit(item.id)"><i class="bi bi-pencil"></i></button>
          <button (click)="Delete(item.id)"><i class="bi bi-trash3"></i></button>
        </div>
        }
      </div>
      }

      }

    </div>
  </div>


</app-permission>
