
<div class="scroll-info ">
  <div class="scroll-item ">

    <div class="item-info ">
      <i class="bi bi-check2-circle"></i>
      <p>
        Busca tu producto.
      </p>
    </div>
    <div class="item-info">
      <i class="bi bi-geo-alt-fill"></i>
      <p>
        Te enviaremos la ubicación de las tiendas con el producto que buscas.
      </p>
    </div>

    <div class="item-info">
      <i class="bi bi-cash-stack"></i>
      <p>
        Compra el producto en la tienda física. Y listo.
      </p>
    </div>

    <!--<div class="item-info">
      <i class="bi bi-person-workspace"></i>
      <p>
        Recibe asesoramiento directo con nosotros totalmente gratis.
      </p>
    </div>-->
    <a href="{{_configservice.GetBaseUrl()}}tools">
      <div class="item-info cursor ">
        <i class="bi bi-file-code-fill"></i>
        Aprende con Go Task Service.
      </div>
    </a>

  </div>
</div>
