
/*# input filter*/

.input-filter {
  padding: 0px;
  margin: 0px;
  position: relative;
}


.list-filter {
  position: absolute;
  top: 30px;
  padding: 5px;
  border-radius: 0 5px 5px;
  min-height: 30px;
  background-color: #c7c7c7;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 0 5px #000;
  gap: 5px;
}



.btn-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  min-width: 98%;
  box-shadow: 0 0 5px #000;
  background-color: #fff;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}

  .btn-list-item button {
    height: 30px;
    width: 30px;
    box-shadow: 0 0 5px 1px black;
    background-color: #c7c7c7;
    border-radius: 5px;
    border: none;
    color: #413e3e;
  }

  .btn-list-item p {
    font-size: 12px;
  }


.container-filter {
  padding: 0px;
}



/*# legend input filter*/
